<%- include('../partials/header') %>
<body>
    <% if (user) { %>
  <section id="user-profile">
    <div>
      <p><%= user.name %></p>
      <p><%= user.email %></p>
      <img class="circlePic" src="images/profPic.jpg" alt="">
      <p><%= user.interests %></p>
      <p><%= user.ambitions %></p>
  </div>
</section>
<br>
<br>
  <section class=homeventsList>
    <table id="list">
        <thead>
          <tr>
            <th>Event<br>Date</th>
            <th>Event<br>Location</th>
            <th>Event<br>Type</th>
            <th>Event<br>Organizer</th>
          </tr>
        </thead>
      <br>
      <tbody>
          <% homevents.forEach(function(h, id) { %>
            <tr>
              <td><%= h.when %></td>
              <td><%= h.result %></td>
              <td><%= h.what %></td>
              <td><a href="/homevents/<%= h._id %>">DETAILS</a></td>
              <td><%= user.name %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
  </section>      
  <% } else { %>
  <section>
    <h2>House of Medici enterprises welcomes you to YOUR FAMILY EVENTS</h2>
    <p>Here, your family will be able to plan and keep track of events that will make the fondest of memories.</p> 
    <p>It begins with your immediate family members but don't be afraid to add your favorite cousins, aunts, uncles, or even friends.</p>
    <br>
    <p>-Caleb Saleh</p>
    <br>
    <p>Chairman and CEO, HoM.e</p>
  </section>
  <% } %>
</body>
<%- include('../partials/footer') %>
